/**
 * DRUMSCONTAINER 
 * --------
 * 
 * This file contains the layout of the drummachine.
 * 
 */

#drum-machine {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        "title title title"
        "display display display"
        ". drums ."
    ;
}

.title {
    grid-area: title;
    color: #FFF;
    padding: 5px 20px;
}

.title h1 {
    line-height: 0px;
}

.title h2 {
    font-size: 1rem;
}

#display {
    grid-area: display;
    height: 40px;
    background-color: #FFF;
    text-align: center;
}

.drum-grid {
    grid-area: drums;
    display: grid;
    grid: 100px 100px 100px / 100px 100px 100px;
    gap: 10px;
    }

@media all and (min-width: 490px){
.drum-grid {
    grid: 150px 150px 150px / 150px 150px 150px;
    gap: 10px;
    }
}